<h1>This is the profile page</h1>
<h3>It will display the user profile pic and info + an edit button for user info</h3>
<h3>It will display equipment bookes</h3>
<h3>It will display booking requests</h3>
