.alert {
  color: red;
  font-weight: bold;
  font-size: larger;
  text-align: center;
  margin-left: 80%;
}

.equip-price{
  background: $brandorange;
  color:white;
  padding:10px;
  border-radius: 5px;
}

.equip-price span{
  font-size:0.5em;
}

