<div class="container">
  <div class="row pr-4 pl-4 pt-4 pb-4">
    <div class="card-category col-sm m-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://catalystshop.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/c/h/chum_9.jpg)">
      Surfboards
    </div>
    <div class="card-category col-sm m-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.shopify.com/s/files/1/0247/8797/6245/products/WagnerSkisSquare_2000x.jpg?v=1593536699)">
      Skis/Snowboards
    </div>
  </div>
  <div class="row pr-4 pl-4 pt-4 pb-4">
    <div class="card-category col-sm m-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.moving-minds.com/cmsstatic/img/976/G-72046-RainbowUltraPlayRecessReady-PACK-1-clean.jpg)">
      Sports Balls
    </div>
    <div class="card-category col-sm m-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://seattlebackpackersmagazine.com/wp-content/uploads/2015/04/IMG_2218.jpg)">
      Footwear
    </div>
  </div>
</div>
<div class="container">  
  <div class="row pr-4 pl-4 pt-4 pb-4">
      <% @equipment.each do |equipment| %>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <h2>Image Tag Goes here</h2>
          <div class="card-body">
            <h5 class="card-title"><%= equipment.title%></h5>
            <%= link_to "See equipment", equipment_path(equipment), class:"btn btn-primary" %>
          </div>
        </div>
    </div>
        <% end %>
  </div>
</div>
