<div class="container">

  <div class="row pr-4 pl-4 pt-4 pb-4">
      <% @equipment.each do |equipment| %>

    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <h2>Image Tag Goes here</h2>
          <div class="card-body">
            <h5 class="card-title"><%= equipment.title%></h5>
            <%= link_to "See equipement", equipment_path(equipment), class:"btn btn-primary" %>
          </div>
        </div>
    </div>
        <% end %>
  </div>
</div>
