<div class="container">

  <div class="row mt-4">
    <div class="logo col-6 d-flex justify-content-start">
     <%= image_tag "equipy-logo.png", alt: "logo"%>
    </div>

    <div class="col-6 d-flex justify-content-end">
    <%= render '/layouts/avatardrop' %>
    </div>
  </div>

  <div class="row">
    <%= render '/layouts/search_box' %>
    </div>


</div>

